[2017-01-27 23:33] jan-krakora opened #572 "LazyModel used in ListView's populateItem can't detect target type"
I'm trying to use [LazyModel](https://github.com/wicketstuff/core/tree/master/wicketstuff-lazymodel) within a ListView, but it throws a ```WicketRuntimeException``` because the target type can not be detected.

Below is a test case simulating the problem.
[code]
[code]
Tested on java 1.8.0_91. Result of lazyModelTest is
[code]
The same test with [wicket-modelfactory](https://github.com/uweschaefer

[2017-01-28 07:21] svenmeier commented on #572
In this case there's no generic information left to derive the target type.

Note that wicket-modelfactory calls `#getObject()` as last resort (https://github.com/uweschaefer/wicket-modelfactory/blob/master/src/main/java/org/wicketeer/modelfactory/ModelFactory.java#L134).
This is not something we want LazyModel to do.

You can use `LazyModel.model(LazyModel.from(itemModel).getValue(), Bean.class);

[2017-01-28 07:21] #572 closed

[2017-02-01 14:32] heapifyman opened #574 "tinymce4: localization not working for Norwegian"
The tinymce4 editor is not loaded for a user with norwegian language settings because of a

[code]

I believe that is because the file name is actually ```nb_NO.js``` and the [tinymce docs](https://www.tinymce.com/docs/configure/localization/) mention that

This issue probably exists for other languages, as well, where the lang file name does not correspond with the TinyMCESettings.Language enum v

[2017-02-13 16:51] chrisly42 commented on #570
Thanks!

[2017-02-13 16:51] #570 closed

[2017-03-07 19:03] jchappelle opened #580 "GsonRestResource mentioned in the documentation but no longer exists"
The readme mentions this class but I can't find it anywhere.

[2017-03-07 19:30] bitstorm commented on #574
Hi @heapifyman ,

could you provide a pull request at least for Norwegian?

Thank you!

[2017-03-07 19:49] martin-g commented on #580
Which project do you mean ?
Please give a link to the obsolete documentation.

[2017-03-07 19:50] jchappelle commented on #580
https://github.com/wicketstuff/core/tree/master/wicketstuff-restannotations-parent

[2017-03-07 21:39] bitstorm commented on #580
@jchappelle  thank you for pointing it out. This an old reference to the original project that sill exist on my account: https://github.com/bitstorm/Wicket-rest-annotations/blob/master/restannotations-json/src/main/java/org/wicketstuff/rest/resource/gson/GsonRestResource.java
As you can see this class was a little more than an example class. I will remove it from the readme.

[2017-03-08 00:02] jchappelle commented on #580
No problem. I didn't have a problem getting started without it but I thought you would like to know about the obsolete docs.

[2017-03-08 01:38] heapifyman commented on #574
@bitstorm please check #581

[2017-03-08 20:31] #580 closed

[2017-03-09 19:47] jchappelle opened #582 "wicketstuff-restannotations runtime dependency on slf4j-log4j12"
The whole point of slf4j is to have compile dependency on the slf4j api and not ship out an implementation. We use logback so I'm having to add a maven dependency exclusion for this.

Great library by the way. Nice and simple! This issue isn't a huge deal for me but I figure it's a simple fix and the right thing to do.

Thanks!

[2017-03-11 13:24] bitstorm commented on #574
@heapifyman
thank you!

[2017-03-11 13:24] #574 closed

[2017-03-11 13:27] bitstorm commented on #582
@jchappelle
Yep, right! the dependency can be removed without any problem. I will do it right now. I'm glad you appreciate the library :)

[2017-03-11 20:05] #582 closed

[2017-03-15 14:25] jchappelle opened #583 "browserid dead as of November 30th 2016"
I was playing around with some of the examples today and ran into the browserid project. I noticed it uses services from https://browserid.org. This service has been discontinued. If you go to that site you can click more info and read the wiki which is here: https://wiki.mozilla.org/Identity/Persona_Shutdown_Guidelines_for_Reliers.

I'm adding this issue as a request to remove that project since

[2017-03-15 15:20] jchappelle opened #584 "Gmap3 examples geocoding error"
To reproduce run the gmap3-examples app and navigate to localhost:8080. Click on the "geocode" link, put in an address and click "Server". It looks like the "Client" button is working fine.

[code]

[2017-03-15 16:11] solomax commented on #583
@martin-g If you have no objections I'll remove this module completely, I also think it need to be removed from 7.x and 6.x as well. WDYT?

[2017-03-15 16:17] martin-g commented on #583
@solomax Please do it!
It was a nice widget but it didn't get much attention from the JavaScript community.

[2017-03-15 16:31] solomax commented on #583
Module is removed

[2017-03-15 16:31] #583 closed

[2017-03-17 14:38] aferraria opened #585 "null objects serialization"
in some cases i am obtain not null value from a field that i was checked as null

for example, in this line in FSTObjectOutput class
Object subObject = subInfo.getObjectValue(toWrite);
I obtain a not null value from a field checked as null in toWrite object

for me, is strange. Also seems to occur randomly
Also, if I use an eclipse debugger and re-run the method, I get a null value!

I use jvm 1.8

[2017-03-17 14:53] martin-g commented on #585
Try to reproduce it with FAST serializer code only, i.e. without Wicket.
If you succeed then you may report it at FAST project directly.
Also try with latest version of FAST. It might be that it is fixed already ...

[2017-03-21 11:41] #584 closed

[2017-03-29 20:39] chrisly42 opened #586 "InMethodGrid: ColumnsHeaderRepeater uses wrong markup"
When rendering Grids, the headers fetch their markups dependent on the sorting capabilty and embed the header column component into the header cell accordingly.

In the onRender-Method of ColumnsHeaderRepeater there is the following code:
[code]
Unfortunately, the fetched markup is wrong for some, if not all cases. getParent().getParent() refers to the Grid-Component itself and therefore returns i

[2017-03-29 22:58] kkaravitis opened #588 "wicketstuff-portlet: When invoking setResponsePage during an ajax resource request the portlet doesn't redirect correctly"
When invoking setResponsePage() during an ajax request, for example at the end of the onClick method of an AjaxLink, the wicket portlet returns to the client the 'Ajax-Location' header which includes the redirect url and then the Wicket.Ajax.Call javascript object executes its processAjaxResponse method (see the wicket-ajax-jquery.js line 476).

 During this method, the client makes some checks on

[2017-03-30 04:05] klopfdreh commented on #588
Thanks for keep going on to improve / fix the portlet bridge!

[2017-03-30 08:38] kkaravitis commented on #588
@klopfdreh Thank you Tobias!

[2017-03-30 09:34] mefiu opened #589 "[OpenLayers3] Cluster example is not working"
I've just checked a cluster example from openlayers3-examples and it is not working.
ClusterPage is looking for data from: http://mhc-macris.net:8080
The URL has changed.
ClusterPage should be pointed to: http://maps.mhc-macris.net:8080
And it works just fine :)
Not a committer here, so I thought I'll just let you know how to solve it.

[2017-03-30 10:45] martin-g commented on #589
Do you want to send us a Pull Request ?

[2017-03-30 10:51] mefiu commented on #589
I've heard @cmiles74 mentioning a while ago to delete this example.
I think this one is the most interesting among openlayers3-examples, so yes, please do the PR.

[2017-03-30 12:14] martin-g commented on #589
I meant you ( @mefiu ) to send the PR :-)

[2017-03-30 12:58] #588 closed

[2017-03-30 13:04] kkaravitis commented on #588
@martin-g
Hello Martin! Do you know when the next wicketstuff release (7.7.0) will be?

[2017-03-30 14:00] martin-g commented on #588
Right after Wicket 7.7.0.
@bitstorm said that he will cut it in the next few days! :-)

[2017-03-30 14:33] kkaravitis commented on #588
@martin-g
Thanks!

[2017-03-31 13:33] #589 closed

[2017-04-07 23:12] reckart opened #595 "Wicketstuff shouldn't depend on slf4j-log4j12"
Wicketstuff shouldn't depend on slf4j-log4j12 - not even if it is a runtime dependency. The choice which logging backend of slf4j is used should be left to the application developer.

Observed in wicketstuff 7.6.0.

[2017-04-08 04:22] martin-g commented on #595
Which sub-project?
Do you want to send a Pull Request?

On Apr 8, 2017 2:12 AM, "Richard Eckart de Castilho" <
notifications@github.com> wrote:

[2017-04-08 18:23] reckart commented on #595
@martin-g it seems to be a systemic problem. Related commits:

* 5261ff2086d3e36263c134a64bd8d6872e6c3a84 - introduces SLF4J
* 76ce24c69a68362651f80f1537db8667085262f9 - marks `slf4j-log4j12` as `optional`

However, marking it as optional doesn't really seem to help.

I am running a Wicket application with Wicket/Wicketstuff 7.6.0 in Eclipse and the Eclipse m2e ends up putting the "optional" depen

[2017-04-08 18:30] reckart commented on #595
The problem appears for me after the upgrade from Wicket/Wicketstuff 6 to 7.

The reasons seems to be that various modules have dropped the "test" scope for the `slf4j-log4j12` in their poms. E.g. `wicketstuff-input-events`:

**Wicket 6 branch**
[code]

**Wicket 7 branch**
[code]

IMHO the fix would be to either ensure that all production modules (i.e. non-integration-test, non-example) retain the

[2017-04-08 18:31] reckart commented on #595
Maybe somebody could explain the rationale behind dropping the `test` scope between 6 and 7?

[2017-04-08 18:52] martin-g commented on #595
test scope should be inherited from the parent pom
Anything else is a bug!

On Apr 8, 2017 9:31 PM, "Richard Eckart de Castilho" <
notifications@github.com> wrote:

[2017-04-08 18:55] reckart commented on #595
@martin-g from which parent? the module parent or the global parent? Mind that there are **example modules** and for these, you wouldn't want to have the `test` scope but in fact rather the `compile` or `runtime` scope.

[2017-04-24 09:43] martin-g commented on #595
I'll take care in the coming days!

[2017-05-19 08:57] vrozkovec opened #597 "AjaxFormComponentValidatorBehaviour wrongly includes jquery reference"
org.wicketstuff.jquery.validation.AjaxFormComponentValidatorBehaviour includes JQuery in a wrong way, so it may happen that two different versions of JQuery are included.

wrong:
`response.render(JavaScriptHeaderItem.forReference(JQueryResourceReference.get()));`
should be:
 `response.render(JavaScriptHeaderItem			.forReference(Application.get().getJavaScriptLibrarySettings().getJQueryReference())

[2017-05-19 08:59] martin-g commented on #597
Any branch.
Whoever merges the PR will cherry-pick the change to the other branches.
Thanks!

[2017-05-19 15:24] martin-g commented on #597
Merged #598 and backported it to 6.x and 7.x

[2017-05-19 15:24] #597 closed

[2017-05-23 22:02] tahitiangabriel opened #599 "[LazyModel] nullpointer when setting nested models"
@svenmeier
Hello Sven,

When I use LazyModel with nested models if one of the nested model is null, the setter returns a NullPointerException :
java.lang.NullPointerException: null
        at org.wicketstuff.lazymodel.LazyModel.setObject(LazyModel.java:276)
        at org.wicketstuff.lazymodel.LazyModelTest.setObject(LazyModelTest.java:286)

If I use a PropertyModel instead, it works just fine as

[2017-05-24 05:31] svenmeier commented on #599
PropertyResolver uses IGetAndSet#newValue() to create missing intermediate objects.

IMO this is a rather obscure feature, which fails in several cases (e.g. generic return, maps). I'd rather not duplicate this feature into LazyModel. Since LazyModel calls methods anyway, you can make them taking care of not returning any nulls.

[2017-05-24 05:31] #599 closed

[2017-06-01 10:56] #586 closed

[2017-06-20 11:03] VirginieGarcin opened #601 "Excel export: display issue with colspan and rowspan in header"
When trying to export a html table with a header that has colspans and rowspans:
[code]
![image](https://user-images.githubusercontent.com/27735708/27329770-eab1da00-55c7-11e7-8225-3fd66d76f716.png)

I'm getting those problems:
- 3-1 header cell is missing
- data from cell "b" is shifted 1 cell to the right

![image](https://user-images.githubusercontent.com/27735708/27329657-81094a84-55c7-11e7-8e

[2017-06-20 11:17] martin-g commented on #601
Which WicketStuff project do you use ?
What is your code ?

From the provided description the only familiar piece is `wicket:id`.

[2017-06-20 11:37] VirginieGarcin commented on #601
Sorry for the missing precisions.
It's using the project: core/wicket-poi-parent/wicket-poi/

[code]
Please let me know if other elements are needed.

[2017-06-22 21:23] martin-g commented on #601
@pedrosans Do you have an idea what could be the problem here ?

[2017-06-25 04:35] pedrosans commented on #601
Hi, the code snippet looks good. Looks like a bug in the exporter, I will take a look oh the issue and return.

[2017-06-30 03:47] pedrosans commented on #601
bug in the table parser fixed

[2017-06-30 03:47] #601 closed

[2017-07-23 19:58] reckart opened #602 "UrlParametersReceivingBehavior does not find resource when subclassed"
If UrlParametersReceivingBehavior is subclassed outside its package, e.g. by creating an anonymous inner class in a page in a case where AsyncUrlFragmentAwarePage or AsyncUrlFragmentAwarePanel cannot be used, then it does not find it's `urlfragment.js` resource anymore. The reason is that the resource is looked up relative to the actual class (e.g. the anonymous inner class) and not relative to `U

[2017-07-23 20:09] reckart opened #604 "Applying UrlParametersReceivingBehavior to a component causes endless loop"
It looks to me as if the `AsyncUrlFragmentAwarePanel` always triggers an endless loop. It probably applies in any situation where UrlParametersReceivingBehavior is applied to a component.

If `UrlParametersReceivingBehavior` is applied to a page, then `renderHead` is only called once - fine.

However, in `AsyncUrlFragmentAwarePanel` is applied to a component. This causes a cycle:

1. an URL fragme

[2017-07-24 03:08] #602 closed

[2017-07-31 14:31] ZwoCa opened #605 "Select2 input broken since migrating to open-json"
Since updating to Wicket / Wicketstuff 7.7, the wicketstuff-select2 component is not working correctly anymore: Entering certain characters in the select2 field, the AJAX behavior will get triggered.

I have looked into it and it seems like in Settings.toJson() method, the tokenSeparators array gets passed directly to the JSONStringer - which is not useful for the following reason:
While the old j

[2017-07-31 14:36] solomax commented on #605
can you please provide quick start for this?
Is it reproducible using 7.8.0?

[2017-07-31 15:07] ZwoCa commented on #605
Yes, it's reproducible with 7.8.0, too.
Here is a quickstart, simple enter something in the select box and you will notice some characters will get passed through to Wicket, while others will not:
[S2QuickStart.zip](https://github.com/wicketstuff/core/files/1187954/S2QuickStart.zip)

[2017-07-31 15:16] solomax commented on #605
I'll try to investigate ASAP (select2-examples works as expected)

[2017-07-31 15:44] solomax commented on #605
Your example works much better in case
[code]
is replaced with
[code]
Could you please check if it will work for you?

[2017-07-31 15:46] ZwoCa commented on #605
Thank you for your answer. I will check ASAP, but I'm afraid I will not manage to do so today.

[2017-08-01 07:31] ZwoCa commented on #605
Indeed setting the setTags flag partly fixes the issue: At least now all character input is communicated back to Wicket.

However, the actual token separators are not working as expected. As stated before, the open-json API introduced with version 7.7 will do not special treatment for arrays, even though the method signature is identical to org.json API (both simply take an object). Therefore, toS

[2017-08-01 10:17] solomax commented on #605
Should be fixed, @ZwoCa could you please double-check?

[2017-08-01 10:59] ZwoCa commented on #605
Thanks for your support, @solomax
I can confirm that it's fixed and again works as expected now.

I don't know if it is the right place to discuss this here, but will there be an bugfix release on Maven? Or am I supposed to build my own JAR or to wait for version 7.9.0?

[2017-08-01 11:12] solomax commented on #605
@martin-g can we perform bug fix release 7.8.1?

[2017-08-01 11:12] #605 closed

[2017-08-02 09:10] martin-g commented on #605
@solomax I won't have time to do it these days.
If you want you can do it yourself! The steps are described here: https://github.com/wicketstuff/core/wiki/Wicket-Stuff-Core-Release-Process

[2017-08-02 17:02] solomax commented on #605
OK, will try to do it tomorrow evening
Thanks for the link

[2017-08-03 08:21] solomax commented on #604
reproducible using examples :(
Will try to investigate ASAP (sorry for delay)

[2017-08-03 15:14] solomax commented on #605
@martin-g how can I get credentials for nexus at oss.sonatype.org?

[2017-08-03 15:22] martin-g commented on #605
There is no shared account.
You need to create an account at https://issues.sonatype.org/secure/Signup!default.jspa and tell me your username.
Then I'll create a ticket there to add you to the team.

[2017-08-03 15:43] solomax commented on #605
username is solomax :)

[2017-08-03 15:58] martin-g commented on #605
https://issues.sonatype.org/browse/OSSRH-33638

[2017-08-03 16:12] solomax commented on #605
Thanks!

[2017-08-03 17:02] solomax commented on #604
I believe the issue is fixed
Could you please double-check?

[2017-08-03 17:04] solomax commented on #605
Going to perform release as soon fix for #604 will be double-checked by reporter

[2017-08-04 14:57] #604 closed

[2017-08-04 14:57] solomax commented on #605
OK, starting release process :)

[2017-08-06 20:54] reckart commented on #604
@solomax Since it was broken, I don't have the code anymore that brought me to this issue. When/if I should try using it again, I'll try to remember getting back here.

[2017-08-07 06:36] ZwoCa commented on #605
@solomax Thank you for your help and for providing the bugfix release.

[2017-08-07 06:37] solomax commented on #605
you are welcome :)

[2017-08-10 09:41] r1gm opened #607 "GMap3 Heatmaps API Support"
Does wicketstuff GMap3 api support heatmaps ?

[2017-08-13 10:49] martin-g commented on #607
I think it doesn't but better grep its sources to check for sure!

[2017-08-13 10:49] #607 closed

[2017-09-01 16:00] eugen0188 opened #609 "Update code documentation"
Please update the code documentation. Version: 7.8.1

Select2Choice.class

Select2MultiChoice.class

The part with `<input type='hidden'/>` is wrong.

ChoiceProvider.class

TextChoiceProvider doesn't exists anymore. Should be 'StringTextChoiceProvider'

StringTextChoiceProvider.class

again TextChoiceProvider  --> StringTextChoiceProvider

[2017-09-01 19:25] martin-g commented on #609
Hi @eugen0188,

Do you mind sending a Pull Request ?
Thank you!

[2017-09-01 20:16] eugen0188 commented on #609
done: https://github.com/wicketstuff/core/pull/610

[2017-09-02 23:48] martin-g commented on #609
The PR is merged!

[2017-09-02 23:48] #609 closed

[2017-09-10 09:54] VaclavC opened #611 "[Openlayers3] JS error with Circle style"
If I try to use Circle style for Feature display, I get

Perhaps styles should be written as Style instance in all cases?

[2017-09-10 14:04] cmiles74 commented on #611
The OpenLayers API is confusing on this point. The ol.style.Style object contains a set of five styles (geometry, fill, image, stroke, etc.) and each one of those is of a specific style type (ol.geom.Geometry, ol.style.Fill, ol.style.Image, etc.)

Looking at the code, I think that this could be modeled better. Right now we Circle extends Style and emits JS to match and that is clearly incorrect; i

[2017-09-21 06:44] martin-g commented on #595
I believe this is fixed now!

[2017-09-21 06:44] #595 closed

[2017-09-21 06:45] martin-g commented on #585
Closing due to no response from the reported for 6 months.

[2017-09-21 06:45] #585 closed

[2017-10-04 15:45] lfultongt opened #613 "Select2 broken since migrating to open-json in wicket 6.27"
Viewing any page using the select2 component will produce the following exception:

org.apache.wicket.WicketRuntimeException: This call is not supported any longer, because of the change to open-json (https://github.com/tdunning/open-json) due to license issues. (See https://www.apache.org/legal/resolved#category-x)
     at org.apache.wicket.ajax.json.JSONWriter.<init>(JSONWriter.java:25)
     at

[2017-10-04 16:36] solomax commented on #613
Was fixed with this commit https://github.com/wicketstuff/core/commit/d4dfe8946db5c6c6a21c1bd4383ba5f86ba5eb4e for 6.x
What version are you using?
What are your steps?

[2017-10-05 04:20] solomax commented on #613
I can pack the release :)
Could you please check if latest SNAPSHOT works for you? (https://oss.sonatype.org/content/repositories/snapshots/org/wicketstuff/wicketstuff-select2/6.0-SNAPSHOT/)

[2017-10-05 14:15] lfultongt commented on #613
It works.  Thanks!

[2017-10-07 09:24] solomax commented on #613
Released, enjoy :)

[2017-10-07 09:24] #613 closed

[2017-10-10 22:07] tahitiangabriel opened #614 "wicketstuff-portlet and liferay 7"
I 'm trying to use wicketstuff-portlet with liferay 7.
I know that liferay 7 is using OSGI modules now but legacy "wars" portlet are still working.

My wicket application do start but the homepage is never called. So I end up with an empty blank page.

Here's the log I get at debug level :
[code]

Liferay seems to add 't/' in the URL that is not handle in the wicket-portlet bridge.

For testing pu

[2017-10-11 15:32] jchappelle opened #615 "404 when clicking demo link in Console wiki"
Here's the wiki: https://github.com/wicketstuff/core/wiki/Console

The following link that is listed in the wiki results in a 404: http://wicketconsole.appspot.com

[2017-10-11 15:34] martin-g commented on #615
Removed the link!
The original author seems to stopped the demo server.

[2017-10-11 15:34] #615 closed

[2017-10-11 15:34] jchappelle commented on #615
Thanks!

[2017-10-25 19:28] kkaravitis commented on #614
@tahitiangabriel Unfortunately I have never tried using liferay 7. I will check it and I hope to find a solution. Thank you very much for your testing against liferay 7 and feedback.

[2017-11-11 17:28] tremel opened #616 "gchart - Some charts lead to javascript error"
Since move to new JSON library some charts are not drawn and lead to a error generated by the chart lib like "`a.getTime is not a function`". For instance the second chart from gchart-examples, a line chart, leads to this error.

This happens, when a date is a value of chartoptions in form of `JSONFunction("new Date(1500501600000)")`. I think, when the JSONObject is generated (`init(Map)`) the `wr

[2017-11-13 14:04] tremel commented on #616
See [WICKET-6496](https://issues.apache.org/jira/browse/WICKET-6496).

[2017-11-15 06:22] tremel commented on #616
[WICKET-6496](https://issues.apache.org/jira/browse/WICKET-6496) ist resolved meanwhile. Thanks to Andrea Del Bene! Will close this issue, when I can test it.

[2017-11-17 16:04] tremel commented on #616
Resolved by [WICKET-6496](https://issues.apache.org/jira/browse/WICKET-6496).

[2017-11-17 16:04] #616 closed

[2017-11-21 10:04] MetricsMeaning opened #617 "Is there is a Visual RAD Tool for Apache Wicket?"
Hi,

I am looking for either an open source or a commercial rad tool for wicket like the one for editing eclipse SWT applications. Wicket is a very simple platform but working with html files drives me nuts :-)

Anybody with a good answer?

[2017-11-21 10:38] martin-g commented on #617
I am not aware of such tool.

But better ask in the mailing lists or at StackOverflow. WicketStuff Issues doesn't notify many people and IMO is not the right place for such kind of question.

[2017-11-24 18:27] athapostolou commented on #617
https://marketplace.eclipse.org/content/qwickie
this is the only plugin i know for eclipse..
its not much, but its better than nothing!
its says that it has a "Wizard for creating new Wicket WebPages", but i have never used it, so i have no idea what it does exactly

[2018-01-17 15:00] florianlacreuse opened #618 "Select2Behavior on existing non-ajax DropDownChoice ?"
Hello,

We are currently using, as legacy, [dretzlaff's wicket-select2](https://github.com/dretzlaff/wicket-select2) project. As this project seems quite inactive, we would like to use wicketstuff select2.

Our concern is about non-ajax drop down since it looks like wicketstuff select2 only provides ajax components (Select2Choice, Select2MultiChoice). With dretzlaff's wicket-select2 we can add a b

[2018-01-17 15:02] reiern70 commented on #618
I think it was me who added behavior... adapting ti to contain setting should be straightforward

[2018-01-17 15:03] reiern70 commented on #618
I did not needed settings... at the time

[2018-01-18 03:26] solomax commented on #618
Hello @florianlacreuse,
could you please provide "plain" example what final result should be? What settings are missing?

[2018-01-18 09:58] florianlacreuse commented on #618
Here is an improved version of `Select2Behavior` with `Settings` : https://hastebin.com/vugeqiqome.java

Beside adding settings attribut, `renderHead` now execute select2 with json settings and the use of `Select2ResourcesBehavior` is now the same as in `AbstractSelect2Choice` (theme and language parts).

How to use it (for instance):

[code]

Furthermore, `AbstractSelect2Choice` could use `Select

[2018-01-18 10:04] reiern70 commented on #618
Thanks... just create a PR

On Thu, Jan 18, 2018 at 4:58 PM, Florian Lacreuse <notifications@github.com>
wrote:

--
Regards - Ernesto Reinaldo Barreiro

[2018-01-18 10:54] florianlacreuse commented on #618
See PR #619.
Thanks.

[2018-02-09 10:24] chrisco484 commented on #617
We built a generic form generator for wicket based on our Visual Classworks (www.visualclassworks.com) tool which is written in C++ and only runs on Windows (or Linux under Wine). Yes, I know, strange - a C++ program that generates code for a Java based web based UI framework - stranger things have happened :)
Maybe we could separate the generator part out and port it to Java and open source it if

[2018-02-10 17:27] kkaravitis commented on #614
@tahitiangabriel I managed to deploy the wicketstuff portlet examples (wicket version: 7.9.0) on liferay-ce-portal-7.0-ga3 and by testing some examples it seems that everything works ok.
The only problems I faced were regarding the deploy on liferay 7. I did not manage to install the wicket portlets examples via the application manager so I had to change the liferay relative files (e.g lliferay-pl

[2018-02-12 10:41] PandaMonkey opened #621 "Dependency conflict problem: conflicting classes exist in different JARS"
Hi, we found that org.wicketstuff:wicketstuff-closure-compiler:8.0.0 contains conflicting classes in different JARS. This means that, there are duplicate classes with the same names in different JARs and these classes have different implementations. As the JVM only load the classes present first on the classpath and shadow the other duplicate ones, so this problem brings high risk of **NoSuchMetho

[2018-02-12 10:50] martin-g commented on #621
Pull Request that solves this issue is very welcome!

[2018-02-12 10:55] PandaMonkey commented on #621
@martin-g Ok, Of course, I would like to.

[2018-02-14 21:10] tahitiangabriel commented on #614
@kkaravitis
Hello Konstantinos and thank you for your feedback.
I've used the code you provide and build it with "mvn packge -Pliferay"
Then I deployed it in the "deploy" directory of liferay.

Here's the errors I've got :

[code]

The portlets do appear in the liferay "applications" menu.
When I add one of them on a page, I then have the following error :

[code]

What exactly did you change in t

[2018-02-14 23:02] kkaravitis commented on #614
Hello Gabriel,
I receive the same error when I deploy the war in the "deploy" directory of liferay. It seems that something is going wrong when liferay tries to deploy the wicket portlets as a war osgi module.
But when I hot deploy the war into the webapps folder of tomcat, the portlets work.

Regarding the changes on the liferay-plugin-package.properties file I set the liferay version equal with

[2018-02-14 23:38] tahitiangabriel commented on #614
@kkaravitis
Konstantinos,
Indeed it works if I deploy the war file directly in the tomcat/webapps directory.
Unfortunately some of the portlets (or demos) do not work (like the clock in the "AJAX BUILTIN PORTLET" or the file upload). I will need to investigate a little bit more on that.
I will start a new liferay project in a couple of month so I need to be sure that everything works smoothly.

[2018-02-17 16:19] solomax commented on #621
Just committed alternative solution
Would appreciate if you can check it

[2018-02-19 18:45] kkaravitis commented on #614
@tahitiangabriel
Hello Gabriel,
Unfortunately I have not yet managed to thoroughly investigate the problems of apache wicket 7 portlets inside the liferay 7 portlet container. I hope that until the end of this week I will have done some progress and let you know.

[2018-02-23 11:58] #621 closed

[2018-03-10 10:46] ylhn15 opened #623 "Editable Grid Wicket 7.10.0 compatibility"
When using Editable Grid with Wicket 7.10.0 it produces the following error:
`java.lang.NoSuchMethodError: org.wicketstuff.egrid.component.EditableDataTable$EditableDataGridView$RowItem.setMetaData(Lorg/apache/wicket/MetaDataKey;Ljava/lang/Object;)V`

It works properly with Wicket 6.3.0

[2018-03-10 11:09] ylhn15 commented on #623
As it turns out, it is smart to use the fitting version of editable grid for your wicket version...

[2018-03-10 11:09] #623 closed

[2018-03-14 21:19] tahitiangabriel commented on #614
@kkaravitis
Everything seems to work flawlessly when I deploy the war in the tomcat/webapps directory.
Unfortunately this is not very easy to develop an app if I need to build a war and deploy it every time I change a single line of code. It is very much time consuming.

Now I'm trying to make it work the right way with the liferay IDE in eclipse.
I've build this very simple wicket project in ecli

[2018-03-15 23:32] kkaravitis commented on #614
@tahitiangabriel
Hello Gabriel,
I changed the build.gradle and xml files in WEB-INF and I figured out to make the portlet to work. Please try this
[wicket-portlet.zip](https://github.com/wicketstuff/core/files/1817405/wicket-portlet.zip)

Here is a screenshot of liferay with your portlet
![screenshot from 2018-03-16 01-22-52](https://user-images.githubusercontent.com/16665277/37496008-c8e37608-28b

[2018-03-15 23:37] kkaravitis commented on #614
@tahitiangabriel
Also as you can see in the eclipse screenshot, you have to make the following tomcat configurations:
- Select the radio _Use tomcat installation_
- The deploy path must be the webapp folder of tomcat.

[2018-03-15 23:57] #614 closed

[2018-03-17 02:51] tahitiangabriel commented on #614
@kkaravitis Thank you so much for your help.
It is working this way.

[2018-03-17 08:33] kkaravitis commented on #614
@tahitiangabriel You are welcome.

[2018-03-22 14:07] gsaviane opened #624 "Wicket 6.29.0 is out. When Wicketstuff will be aligned?"
No hurry, just to know :)

[2018-03-22 14:09] solomax commented on #624
Hello,
wicketstuff 6.29.0 has no changes comparing to 6.28.0
Do you still need the release?

[2018-03-22 14:12] gsaviane commented on #624
Well, in our code we set the version once for all the Wicket & Wicketstuff dependency. It seemed that they always come along, but if it's not we'll keep them separated

[2018-03-22 14:13] solomax commented on #624
I can create release
But not sure if it is required :(
The changelog will be empty :(

[2018-03-22 14:14] gsaviane commented on #624
Thanks!

[2018-03-22 14:14] #624 closed

[2018-03-28 14:39] d2a-raudenaerde opened #625 "[select2] Allow overriding of messages like noResults, searching etc."
In the old days, I could do custom messagers like this:

	getSettings().setFormatSearching( "I'm searching!");

How can I accomplish this in the newest version?

[2018-03-28 14:48] solomax commented on #625
I believe you need to set `placeholder` https://select2.org/placeholders
Or `templateSelection` https://select2.org/placeholders#customizing-placeholder-appearance

[2018-03-28 15:10] d2a-raudenaerde commented on #625
`placeHolder` is the text that is shown when you have no selection yet. I want to replace the texts that are shown in the 'results' section.

[2018-03-28 15:13] martin-g commented on #625
how would you do it with plain Select2.js ?

[2018-03-28 15:15] d2a-raudenaerde commented on #625
Here is some info. (I'm not really that deep into JS) https://stackoverflow.com/q/4940054/461499

[2018-03-28 15:21] solomax commented on #625
As far as I can see, you can provide your own `locale` JS file: https://select2.org/i18n#translation-objects

[2018-03-28 15:23] solomax commented on #625
Full non-minified example: https://github.com/select2/select2/blob/develop/src/js/select2/i18n/en.js

[2018-03-28 15:25] d2a-raudenaerde commented on #625
I tried using the method in 'Translation objects', by passing a JSON string to:

 getSettings().setLanguage("{ noResults : function() { return ' Alas... no results'; } }" )

But that just made it revert to the  English default.

[2018-03-28 15:28] solomax commented on #625
I'm afraid `setLanguage` method only sets `locale` (en, no, ru etc.)
You need to add your custom JS to your page after select2 header is rendered

not sure how this can be simplified for the end user :(

[2018-04-01 10:02] kbachl opened #626 "inmethod grid 8.0.0-M9 is broken with wicket 8.0.0-M9"
reason is the usage of wicket15-tree that has problem with tree opening, see:

StandardWrapperValve[default]: Servlet.service() for servlet default threw exception
java.lang.NoSuchMethodError: org.apache.wicket.extensions.markup.html.tree.AbstractTree$TreeItem.prepareForRender()V
	at org.apache.wicket.extensions.markup.html.tree.AbstractTree$TreeItem$4.visitItem(AbstractTree.java:351)
	at org.apac

[2018-04-01 11:45] tepavac opened #627 "POI:Excel export component_path tag attribute not set."
Inside TableParser.doRequest() method tableComponent.renderPart() is called without calling tableComponent.beforeRender() which means that PathSetupListener will not be triggered.

As per wicket 8 changes ( #renderPart() is now the main entrance to render a single component - the caller has to make sure that #beforeRender() has been called on it before. )

[2018-04-01 12:25] tepavac commented on #627
Pull request #628

[2018-04-01 18:54] svenmeier commented on #626
There are several adjustments to be done, I'm working on it.

[2018-04-02 12:22] martin-g commented on #627
The PR has been merged!
Thank you, @tepavac !

[2018-04-02 12:22] #627 closed

[2018-04-04 01:06] reckart opened #629 "[select2] allowClear doesn't seem to work"
I am using the Select2Choice and want to be able to unset a value. I have tried the following. My understanding is that `setAllowClear(true)` and `setPlaceholder("Select a value")` should make a placeholder show up... however that does not happen.

The Select2 documentation says that on a single-choice select, for allowClear/placeholder to work, an empty `<option></option>` tag must be present in

[2018-04-04 01:16] reckart commented on #629
Hm... ok, I did misunderstand... there is a "x" which should be used to clear the selection... never mind.

[2018-04-04 01:16] #629 closed

[2018-04-07 20:01] patrodyne opened #630 "AutoMountAnnotationProcessor/SecureMountAnnotationProcessor warning for RELEASE_6"
The two classes `org.wicketstuff.wicket.mount.processor.AutoMountAnnotationProcessor` and `org.wicketstuff.wicket.mount.secure.processor.SecureMountAnnotationProcessor` declare `@SupportedSourceVersion(SourceVersion.RELEASE_6)` to indicate the latest source version that they support is Java 1.6. Why?

The current Java release is JDK 10. Is there a reason not use  `AutoMountAnnotationProcessor/Secu

[2018-04-10 14:14] larskarlsen opened #631 "[Openlayers 3] Line between two coordinates"
What is the simplest way to draw a line between two points using the openlayers 3 wicketstuff library? Seems like LineString is not included in the library.

Is the best way to simply just make the class myself? I had to do this when I needed a WMTS tile

[2018-04-10 17:49] svenmeier commented on #630
This was probably the latest version when that module was invented. I've changed the processor for Wicket 8.x to return the latest available version instead.

[2018-04-10 17:49] #630 closed

[2018-04-18 06:40] #631 closed

[2018-04-24 07:25] blopatka opened #632 "wicketstuff-clipboardjs - add support for clipboardjs 2.0"
there is new version of clipboardjs that breaks api - class name is changed from Clipboard to ClipboardJS because of name clash in Chrome > 61
https://github.com/zenorocha/clipboard.js/issues/468

[2018-04-24 07:27] solomax commented on #632
Could you provide PR?

[2018-04-24 08:38] blopatka commented on #632
PR -> https://github.com/wicketstuff/core/pull/633

[2018-04-25 01:10] #632 closed

[2018-05-18 09:56] d2a-raudenaerde opened #634 "DateTimeField.newDateTextField should not require PropertyModel, just IModel"
I override this method and think passing just an IModel should be fine.

[2018-05-18 10:02] martin-g commented on #634
Agreed! Please send a PR!

[2018-05-18 11:01] d2a-raudenaerde commented on #634
I created the pullrequest: #635

[2018-06-18 12:02] #162 closed

[2018-07-13 13:48] florianlacreuse commented on #618
PR merged.
Thanks.

[2018-07-13 13:48] #618 closed

[2018-07-16 13:04] mjoaquim12 opened #636 "GMap: Page crashes with NoSuchElementException: No value present"
Stack trace:
java.util.NoSuchElementException: No value present
at java.base/java.util.Optional.get(Optional.java:148)
at org.wicketstuff.gmap.GMap.addOverlay(GMap.java:193)

Suggestion: Null check on ajax target must be replaced with _isPresent()_.

[2018-07-16 13:26] mjoaquim12 opened #637 "wicket-gmap.js: Square brackets in request URL are not supported."
Suggestion: Need to escape the square brackets in request URL.

Parameter _**argument0**_ causes request to be rejected.
Sample URL:  _**argument0=[object Object]**_&overlay.latLng...( other parameters )

**Respose from server:**

HTTP Status 400 – Bad Request

Type Exception Report

Message Invalid character found in the request target. The valid characters are defined in RFC 7230 and RFC 3986

D

[2018-07-16 13:50] solomax commented on #637
Hello @mjoaquim12,
Could you please provide testcase for this?
Having **[object Object]** in URL seems to be wrong

[2018-07-17 04:54] ryluis opened #638 "JGrowlFeedbackPanel break the style and function of another component from wicket-jquery-ui"
hi,
previously i used the version 7.10.0 on my project, the **JGrowlFeedbackPanel** component works great with another component from wicket-jquery-ui.
[code]

Since i upgraded to version 8.0.0

[code]

The button and menu i used from wicket-jquery-ui is not working. If i disabled the **JGrowlFeedbackPanel**  component, the problem is gone.

I create the quickstart for this problem, and attached s

[2018-07-17 04:59] solomax commented on #638
Thanks a lot!
Will try to take a look ASAP

[2018-07-17 06:29] solomax commented on #638
Should be fixed, please check

[2018-07-22 07:08] mjoaquim12 commented on #637
Hello @solomax,

[gmap3-examples-with-embedded-tomcat.zip](https://github.com/wicketstuff/core/files/2216772/gmap3-examples-with-embedded-tomcat.zip) attached.

To reproduce the error please run StartTomcat and launch http://localhost:8080/markerListener.

Console log:
http: //localhost:8080/markerListener/?1-1.0-topPanel&argument0=**[object Object]**&overlay.latLng=(37.44789669675733, -122.134003

[2018-07-24 11:08] solomax commented on #637
Thanks for the example @mjoaquim12 ,

Should be fixed, would appreciate if you can test :)

[2018-07-24 11:43] mjoaquim12 commented on #637
Works!
Tested with updated wicket-gmap.js file.

Thank you @solomax

[2018-07-24 12:01] #637 closed

[2018-07-25 20:10] aldaris commented on #97
Based on [stackoverflow](https://stackoverflow.com/questions/19946348/using-stateful-session-beans-with-servlets) the current behavior looks appropriate. Even when multiple tabs are opened for the same website, there is still only one client (and HTTP session) they work with.

[2018-07-25 20:21] #97 closed

[2018-10-29 22:41] andruhon opened #641 "AbstractRestResource is not quite restful"
https://github.com/wicketstuff/core/blob/d05e2d06c1bf424b6113c96eea3cfbbdb4ddc34b/wicketstuff-restannotations-parent/restannotations/src/main/java/org/wicketstuff/rest/resource/AbstractRestResource.java#L728

The `Session.get()` in `converter.convertToObject(value, Session.get().getLocale())` causing a session creation. If the API is called not from the browser the session will be created for each

[2018-10-30 16:09] bitstorm commented on #641
hi @andruhon ,

you are right, the Locale should be read from the current request rather than from the current Session. The object Session is however a temporary session, discarded at the end of the request handling, unless you explicitly call bind() method somewhere in the code. I will fix the code asap.

[2018-10-31 08:33] andruhon commented on #641
Maybe something like this, to to make possible to configure how the locale retrieved:
[code]
[code]

[2018-10-31 10:01] bitstorm commented on #641
I like this idea! It's even better if we use a lambda as supplier for the locale

[2018-10-31 10:05] andreikondratev commented on #641
@bitstorm We can feed a lambda to setLocaleResolver if the LocaleResolver is an interface and marked as a FunctionalInterface. I can try this approach in my project and create a PR if you want.

[2018-10-31 10:08] andruhon commented on #641
@bitstorm, yes we can feed a lambda to setLocaleResolver if the LocaleResolver is an interface and marked as a FunctionalInterface. I can try this approach in my project and create a PR if you want.

[2018-10-31 10:11] bitstorm commented on #641
@andruhon
Thank you! PR is really welcomed.

[2018-11-12 14:56] froque opened #643 "org.wicketstuff.rest.utils.wicket.AttributesWrapper scanned from multiple location"
When using wicketstuff-restannotations-json 8.1.0, jetty complains about org.wicketstuff.rest.utils.wicket.AttributesWrapper being defined multiple times.

    2018-11-12 14:21:56.767:WARN:oeja.AnnotationParser:qtp1766822961-17: org.wicketstuff.rest.utils.wicket.AttributesWrapper scanned from multiple locations: jar:file:///tmp/jetty-0.0.0.0-8080-ROOT.war-_-any-8732378854761437995.dir/webapp/WEB-I

[2018-11-20 11:21] bitstorm commented on #643
Hi,

It should be fixed with 8.2.0. can you check it out?

[2018-11-20 11:21] #643 closed

[2018-11-20 12:40] cradtke opened #644 "[Select2] WicketTester discards list of strings"
Hello,

when using WicketTester to test a Select2MultiChoice<String> component i run into the following problem:
I select or add as many elements as i want, e.g. bob and alice. On submit the component model object consists only of one string with the list of strings: '[bob, alice]' while i'm expecting a list with two strings ['bob', 'alice'].

The error only occurs with WicketTester, see my attach

[2018-11-20 19:13] froque commented on #643
yep. warning is gone

[2018-11-23 17:06] solomax commented on #644
Will try to check this ASAP

[2018-11-27 07:47] solomax commented on #644
@cradtke, should be fixed
Thanks for the tests and analysis  :))

[2018-11-27 08:11] solomax commented on #644
@cradtke could you please verify the fix and close the issue if everything is OK?

[2018-11-27 09:35] cradtke commented on #644
@solomax i checked the 8.3.0-SNAPSHOT and can confirm it fixed the issue. Thank you!

[2018-11-27 09:36] #644 closed

[2018-11-27 14:53] froque opened #645 "Ambiguous methods mapped for the current request when compiler creates bridge methods"
I am having the following error: "Ambiguous methods mapped for the current request: ...."

This is caused by having an abstract class (Class1), with an abstract method extending AbstractRestResource, and a class (Class2) that extends Class1 and overrides the abstract method, but returns a different type (but still [assignable](https://stackoverflow.com/questions/14694852/can-overridden-methods-dif

[2018-11-29 14:59] froque commented on #645
@solomax yes, I can't see any reason not to do it.

[2018-12-01 02:38] solomax commented on #645
Done!
Many thanks for the contribution!

[2018-12-01 02:38] #645 closed

[2019-01-17 19:11] shradsm opened #647 "org.wicketstuff.examples.gmap.listen.overlay.simple does not show map"
I tried  below example using my api key in WicketExamplePage.I am deploying them on Wildfly10/JBoss
 org.wicketstuff.examples.gmap.listen.overlay to view click action on marker on map but map itself does not show,

![image](https://user-images.githubusercontent.com/37870130/51342332-7dad7d00-1a48-11e9-9008-90dde8035737.png)

[2019-01-19 20:03] shradsm commented on #647
Thanks Martin.
Version  mentioned in pom.xml of wicketstuff-gmap3-examples is 9.0 Snapshot and I was trying to run example in org.wicketstuff.examples.gmap.listen.overlay.advanced.
I had replaced org.apache.wicket.markup.html.WebPage.WicketExamplePage.API_KEY with my api_key.

I fixed the problem by putting script tag in the org.wicketstuff.examples.gmap.listen.overlay.advanced.HomePage.html

<scr

[2019-01-19 20:03] #647 closed

[2019-02-01 08:57] d2a-raudenaerde opened #649 "Allow options for lightbox"
I try to integrate the lightbox2 into my application, but I want to tweak how the lightbox behaves (for example, I'd like in centered in the screen). The js-lightbox library exposes a lot of options, which are not avaibable in Wicket in java. I would be nice to be able to set them

[2019-02-04 11:11] athapostolou opened #650 "wicketstuff-portlet: ajax redirect does not add cookies to browser"
While adding a cookie to an ajax redirect, the cookie is not set on the browser.

I have noticed that in WicketPortlet, when an ajax redirect is needed, you call `responseState.clear();`, which clears the cookie that was previously added, before the responseState is flushed.
The portal bridge on wicket 1.4 does not clear this before flushing and therefore adds the cookie to the browser.
Is this by

[2019-02-04 11:34] martin-g commented on #650
@kkaravitis @klopfdreh Can you help here ? Thank you!

[2019-02-04 21:10] kkaravitis commented on #650
Hello all,
I think that it is safe to keep the cookies before clearing the
responseState object in this case.
Unfortunately I do not have enough free time to make the change and test
it.
Could someone else evolve with the wicketstuff portlet project and make the
commits required?

Στις Δευ, 4 Φεβ 2019 στις 1:34 μ.μ., ο/η Martin Grigorov <
notifications@github.com> έγραψε:

[2019-02-05 06:59] athapostolou commented on #650
I could do it myself if you guys want to.
I already have tested the code for ibm portal.
I can test it for liferay also and commit it.

[2019-02-05 07:05] solomax commented on #650
PRs are always welcome :)

[2019-02-05 07:15] martin-g commented on #650
Please send a Pull Request, @athapostolou ! Thank you!

[2019-02-13 09:03] florianlacreuse opened #653 "Select2 stateless JsonResourceReference with additionnal parameters."
Hi,

Since #397 we are able to use Select2 is a stateless mode with a `JsonResourceReference`.

From what I understand, there is no way to easily add additionnal parameters (from `Model`s of my Select2 component for instance).

The ajax url is set in the `onConfigure()` from the `mountPath` (settings). I think I can bypass this limitation by overriding the `onConfigure()` in my Select2 component l

[2019-02-14 11:48] reiern70 commented on #653
Not following you... parameters values should not come from client side?

[2019-02-14 15:07] florianlacreuse commented on #653
I will use the `Country` example from the wicketstuff select2 example.

https://github.com/wicketstuff/core/blob/e86bbeb5e6317448a0b4e978688078a29b91d06b/select2-parent/select2-examples/src/main/java/org/wicketstuff/select2/HomePage.java#L188-L203

https://github.com/wicketstuff/core/blob/e86bbeb5e6317448a0b4e978688078a29b91d06b/select2-parent/select2-examples/src/main/java/org/wicketstuff/select2

[2019-02-18 08:45] martin-g commented on #650
PR #652 has been merged to all branches!

[2019-02-18 08:45] #650 closed

[2019-02-19 03:19] madasamys opened #654 "NullPointerException throws when managing dashboard in multiple tabs on same browser"
**What was Activity?**
1. Run dashboard examples using below command
`mvn clean package jetty:run`
2. Open browser (Using Firefox v65.0.1) and access app `localhost:8081`
3. Open new tab on same browser and access app `localhost:8081`
4. Go to first tab click on _Add widget_ link
5. Go to second tab click on _Add widget_ link
6. And Click on _Add widget_ under **HighChart** category
7. Go to first

[2019-02-19 04:41] solomax commented on #654
Will try to check ASAP
@madasamys  what branch are you using?

[2019-02-19 06:37] madasamys commented on #654
@solomax , I am using master branch

[2019-02-19 06:42] solomax commented on #654
reproducible using 8.x as well
will try to investigate/fix ASAP
Thanks for detailed steps!

[2019-02-19 09:20] madasamys commented on #654
@solomax Thankyou very much for quick fix

[2019-02-19 09:38] #654 closed

[2019-02-19 09:39] solomax commented on #654
Thanks again for the detailed steps :)
We also using this module, NPE need to be fixed ASAP :)

[2019-02-21 11:24] florianlacreuse opened #655 "Select2 statlesss throws error while adding default options"
Hi,

I just noticed that a stateless Select2 (using resource reference) with some default values (model not empty) will throws an exception during the `onComponentTagBody` since it tries to add select options for these values using the `provider` (`null` in this case).

https://github.com/wicketstuff/core/blob/a3f0e71a965c5b98ad90edeb96a8be7b806735c8/select2-parent/select2/src/main/java/org/wicket

[2019-02-22 11:06] martin-g commented on #653
[code]

looks simple enough to me.
I don't see a need to add more methods to the API for this. There are several `if`s here - `if it is Ajax` and `if it is stateless` so the new methods may lead to confusion in some cases.
If anyone finds nice and clean approach then please create a Pull Request!

[2019-02-22 11:06] #653 closed

[2019-02-22 11:36] martin-g commented on #655
The same is true also for stateful components. The application developer must provide a `ChoiceProvider` if a model is going to be used.

I will add an improvement to ignore the model when the component is stateless. This way the application can switch from stateless to stateful mode depending on external conditions.

[2019-02-22 11:39] #655 closed

[2019-02-22 12:36] florianlacreuse commented on #653
If this looks good enough for you, I'm fine with it. Thanks for the answer!

[2019-02-22 13:32] florianlacreuse commented on #655
If a stateful select2 component doesn't have a `ChoiceProvider`, I thinks it's the developer's fault.

For a stateless select2 component, since it use a `JsonResourceReference` which provide the `ChoiceProvider`, it's a bit odd to set the `provider` attribute (the one in `AbstractSelect2Choice`).

About your commit: from now on wicketstuff select2 connector will not create the pre selected values

[2019-02-22 14:45] lalmeras commented on #655
Am I missing something, or does the proposed patch prevents any pre-selection in select2 component (as writing <option...> is always skipped in stateless mode) ?

How is it expected to perform preselection in stateless mode with this patch ? Overriding onComponentTagBody to add option with custom dedicated code ?

[2019-03-12 08:12] vpopat opened #657 "No way to use select2.min.js"
In ApplicationSettings there is only options to use the non-min versions
private ResourceReference javaScriptReference = new JavaScriptResourceReference(
		ApplicationSettings.class, "res/js/select2.js");
	private ResourceReference javaScriptReferenceFull = new JavaScriptResourceReference(
		ApplicationSettings.class, "res/js/select2.full.js");
	private ResourceReference cssReference = new CssReso

[2019-03-12 08:25] martin-g commented on #657
Wicket automatically uses the `.min` versions when running in PROD mode. There is nothing to do in the application code.

[2019-03-12 08:31] vpopat commented on #657
I see that wicket core does that, but select2 does not seem to.
I have set -Dwicket.configuration=deployment and put breakpoint in my Application class (also checked the source) and the full version is used.

[2019-03-12 08:38] solomax commented on #657
Works as expected
Please check select2*.js sources using browser dev tools

[2019-03-12 09:01] martin-g commented on #657
which source ? of Select2 Java classes ?
You need to check the source of the rendered HTML in your browser. There you should see the urls to Select2 JS/CSS resources to use the `min` versions.

[2019-03-12 22:33] vpopat commented on #657
Actually it looks like none of the js files are using .min versions - apologies for misleading...
![image](https://user-images.githubusercontent.com/9715513/54240498-268eca80-4516-11e9-920e-69d4841f004e.png)
I am using wicket 7.12.0 and wicketstuff 7.12.0
I guess I should move the query to wicket forum?

[2019-03-13 02:24] solomax commented on #657
@vpopat what would be the content if you will check the source of `select2*` file?
It is minified for me (8.x latest)

[2019-03-13 07:32] martin-g commented on #657
@vpopat please create a quickstart

[2019-03-13 07:42] vpopat commented on #657
You are right! It is minified! I was expecting the min filename (and also got reports that the js files can be compressed which must be something else)
I am so sorry for wasting everyones time!

[2019-03-13 07:42] #657 closed

[2019-03-29 16:54] lalmeras commented on #655
@martin-g I think there is some misunderstanding on this issue, and on the way the fix you apply may forbid previously legit (from my point of view) usage of AbstractSelect2Choice.

First: **stateless** term was not used right. In Wicket, stateless is used for not persisted pages (so, stateless as no cross-request state). We (@lalmeras and @florianlacreuse) use it because it is the name of the att

[2019-03-29 18:09] martin-g commented on #655
I didn't receive any notifications for the comments at March 22. Just now I see them because of the comment from today.

A Component could be stateless even without using a resource! There are several such components in wicket-core.

Please create new issue with a quickstart (and a PR if you know how to fix the issue yourself).
And please do not add a tone of unrelated information to it! It just m

[2019-04-04 01:06] sibiarunachalam opened #658 "Widget does not collapse/expand"
Hi guys,
Widget is not collapsed/expanded.It needs page reload to do the same. Is this expected behaviour?

What was the activity
--------------------------
1. Simple widget was displayed in the Dashboard page
2. Collapse/Expand link in widget header was clicked
3. The widget was not collapsed/expanded
4. Reloaded the page using browser refresh
5. The widget was collapsed/expanded

What is expecte

[2019-04-04 01:23] solomax commented on #658
Hello @sibiarunachalam,
Can you provide quick-start? `dashboard-examples` works for me as expected

[2019-04-04 05:46] sibiarunachalam commented on #658
@solomax It works in quick-start project.

[2019-04-04 05:53] solomax commented on #658
@sibiarunachalam In this the problem most probably in your app

[2019-04-09 07:58] Olafxso opened #660 "InfiniteScrollDemoPage search field is not working"
Hi,

I'm trying to use the InfiniteScrollDemoPage. This displays a searchbox. Typing some text does not filter the table. Is this a bug?

[2019-04-09 10:51] martin-g commented on #660
[video.zip](https://github.com/wicketstuff/core/files/3058504/video.zip)

It seems to work fine here.

[2019-04-09 10:59] #660 closed

[2019-04-30 14:40] cradtke opened #661 "Upgrade to version 4.0.6"
Version 4.0.6 of our beloved Select2 has been released a few days ago.
I'd appreciate an upgrade for the next wicketstuff release.

[2019-04-30 15:06] martin-g commented on #661
A Pull Request would increase the chances! :-)

[2019-05-03 20:54] #634 closed

[2019-05-13 06:53] #661 closed

[2019-05-13 06:54] solomax commented on #661
Should be updated
Would appreciate if you can test :)

[2019-05-22 12:50] pdrobek opened #663 "Many Markers on DefaultOpenLayersMap"
Hi

As i did not found any helpful posts, articles or anything else i decided to write here. In examples there was described how to put single marker on openlayer3 map. I have to put many dynamicly generated markers. Can someone describe proper way to do this?

What i have done for now:

Create overlay list with markers, put them all on map, then use setVisible().

What i would like to achive is
c

[2019-05-31 01:00] #658 closed

[2019-06-19 04:14] andruhon opened #666 "[SELECT2] Allow initialization JS overrides"
The JS initialization script was moved from renderHead to Select2Behavior which is burned into the
AbstractSelect2Choice as a private final added in the constructor.

I would add a protected method, something like getSelect2Behavior which would return the select2Behavior, but will allow us to override it (maybe restrict to the Select2Behavior).

The JS inside could also be made customisable. Alter

[2019-06-19 04:17] andruhon commented on #641
I suppose this one can be closed now?

[2019-06-19 04:17] #641 closed

[2019-06-19 04:19] solomax commented on #666
The functionality you are requesting is already implemented :)

You can override JS/CSS scripts
Please take a look at `ApplicationSettings` class

:)

[2019-06-19 04:25] andruhon commented on #666
Thank you @solomax ! The intent is not to replace the JS file reference, but to change this  string: `"$('#%s').select2(%s);"`

[2019-06-19 04:31] solomax commented on #666
So you would like `select2` drop-down will not be `select2`?
Maybe you can provide sort of real-life-example?

[2019-06-19 04:37] andruhon commented on #666
@solomax Kind of. Unfortunately some things are not available through options and it's needed to "override" the constructor like this:

[code]
and later call something like
[code]
So the `$.fn.select2.amd.require('select2/myMagicSelect2')($('#%s'), %s)` would replace `$('#%s').select2(%s);`

[2019-06-19 04:48] solomax commented on #666
I believe you can create PR :)

[2019-06-19 05:06] andruhon commented on #666
I will

[2019-06-19 05:06] andruhon commented on #666
@solomax is JIRA also needed?

[2019-06-19 05:07] solomax commented on #666
@andruhon no JIRA is required, this is not part of Apache Wicket :)

[2019-06-19 10:22] bitstorm commented on #641
@andruhon thanks!

[2019-06-20 01:14] seanf opened #667 "ScalaExtensions wiki page "Samples" link is broken"
On the page https://github.com/wicketstuff/core/wiki/ScalaExtensions the link "Samples" is broken. It should probably link here: https://github.com/wicketstuff/core/blob/master/scala-extensions-parent/wicket-scala-sample/src/main/scala/org/wicketstuff/scala/sample/HelloWicketWorld.scala

Also, this info appears be out of date: https://github.com/wicketstuff/core/wiki#editing-the-wiki because I can

[2019-06-20 01:15] solomax commented on #666
@andruhon I believe the easiest way to implement this will be one more setting in `ApplicationSettings` class :)

[2019-06-20 04:29] solomax commented on #667
Broken link is fixed

According to edit I guess you need more karma for this
Would you like to edit the page?

[2019-06-20 05:41] seanf commented on #667
@solomax I don't have any other changes in mind at present, but you never know. Yes, thanks.

[2019-06-20 05:48] solomax commented on #667
great :)

[2019-06-20 05:48] #667 closed

[2019-07-26 17:57] chrisco484 opened #669 "Geocoder in 6.x uses http instead of https - Google always rejects requests with http"
For the latest 6.x wicketstuff branch:

In org.wicketstuff.gmap.geocoder.Geocoder.java

Line: 164       StringBuilder sb = new StringBuilder("http://maps.googleapis.com/maps/api/geocode/");

Needs to have https - I was thinking of making it configurable but it simply won't work with http anymore - google rejects it with:

[2019-07-26 20:01] martin-g commented on #669
Please send us a Pull Request!
Thank you!

On Fri, Jul 26, 2019, 20:57 Christopher Colemani <notifications@github.com>
wrote:

[2019-07-27 03:44] #669 closed

[2019-07-27 03:54] solomax commented on #669
@chrisco484 do you need this fix in 6.x branch?

[2019-07-27 03:56] chrisco484 commented on #669
Ahhh!! Yes ;)

I just realized that I made the change in master but it needs to propagate to all the main branches.

[2019-08-23 16:06] florianlacreuse opened #672 "[Select2] Update Bootstrap theme?"
4 years ago, [Select2 Bootstrap theme](https://github.com/wicketstuff/core/commit/36734d3cba28bfb8c7d7922a8f04436a169c61ef) was added to `wicketstuff-select2` but it it hasn't been updated since.

I could do a PR if needed but I was wondering if either:
* We should stick it with Bootstrap 3 and in this case we will use the 0.1.0-beta.10 release from [select2/select2-bootstrap-theme](https://github

[2019-08-23 16:14] solomax commented on #672
I do prefer latest versions :)
Unfortunately I have no enough free time to dig into topic :(
Feel free to create PR, so we can discuss it :)

[2019-08-26 14:08] florianlacreuse commented on #672
Thanks for the first feedback! PR done: #673.

[2019-08-30 16:05] florianlacreuse commented on #672
PR is merged but we still need to figure out what to do with having a select2 bootstrap theme inside `wicketstuff-select2`. Drop it? Only support BS4? Support BS4 and BS3, if so, how?

[See my message in the PR thread.](https://github.com/wicketstuff/core/pull/673#issuecomment-526655707)

[2019-09-02 12:57] florianlacreuse commented on #672
PR has been merged and it seems it's OK to upgrade to BS4 in `master` branch. I close this issue.

@solomax Thanks for your help.

[2019-09-02 12:57] #672 closed

[2019-09-17 20:21] #663 closed

[2019-09-30 14:46] ams-tschoening opened #676 ""The forked VM terminated without properly saying goodbye. VM crash or System.exit called?""
I'm trying to build Wicket Stuff 8.5.0 and got the following error during running the tests:

    [ERROR] org.apache.maven.surefire.booter.SurefireBooterForkException: The forked VM terminated without properly saying goodbye. VM crash or System.exit called?
    [ERROR] Command was cmd.exe /X /C ""C:\Program Files\Java\jdk-8\bin\java.exe" -Xmx1024m -jar C:\Users\tschoening\AppData\Local\Temp\surefi

[2019-09-30 16:37] ams-tschoening opened #677 "NPE at org.wicketstuff.rest.injection.InjectResourceTest.testInjection(InjectResourceTest.java:59)"
I'm trying to build WicketStuff 8.6.0 from source and during running tests I get the following exception, which is not present in 8.5.0:

The code at that line:

There's no additional logging or message which might help me understand the purpose of this test and what might be missing why. The test has been introduced pretty recently before the release of that version:

https://github.com/wicketstu

[2019-09-30 17:27] ams-tschoening commented on #676
<reuseForks>false</reuseForks>

That doesn't work in the `pom.xml` in the root, because tests for Quickview fail in this case. Moving that line into Jamon's `pom.xml` only seems to work.

[2019-10-01 16:25] #677 closed

[2019-10-02 10:01] svenmeier opened #680 "annotationeventdispatcher and disabled components"
With https://github.com/wicketstuff/core/commit/f2ee61fb48259f9bdbf682713b12738e596d3cc1
AnnotationEventDispatcher uses #canCallListener() to prevent dispatches to invisible components.

But since WICKET-6137 that method no longer has a method argument, so it is not possible for overrides to identify the initiator of the call, e.g. to allow event dispatching on an invisible component.
Overriding t

[2019-10-02 10:16] #680 closed

[2019-10-03 08:07] ams-tschoening commented on #676
After switching to 8.7.0-SNAPSHOT I'm again running into this problem, only weirder: Switching the reuse-option from `false` to `true` makes the test always fail in my environment simply by issuing `mvn test -pl :wicketstuff-jamon`. But having it set to `false` doesn't guarantee a succeeding build anymore, but instead it seems that calling `mvn package` fails always. `mvn test` instead seems to su

[2019-10-03 09:15] ams-tschoening commented on #680
The readme for the config of the dispatcher is still wrong:

https://github.com/wicketstuff/core/commit/d1b2ba0fa22476b4db55f2b646382dd5530480a4

Might be a better idea to remove implementation details like if `canCallListenerInterface` is called or not and about the individual available configs entirely instead of reverting to some older status. I suggest only keeping the following sentence of th

[2019-10-03 09:46] ams-tschoening commented on #676
Guten Tag Thorsten Schöning,
am Donnerstag, 3. Oktober 2019 um 09:45 schrieben Sie:

I hopefully found it, the runtime of the test itself. I'm always
invoking the same command:

That always fails with the default options of reusing forks:

It at least mostly succeeds when that option is set to false. But
that's only an unreliable workaround for the real problem, I can
switch between failing/succee

[2019-10-04 13:34] ffcsoftware opened #682 "Wicket stuff version 8.6.1"
Just a quick question, is planned to deliver a wicketstuff 8.6.1 version to be in sync of Wicket version numbers?

[2019-10-04 13:37] solomax commented on #682
Wicketstuff 8.6.0 is based on wicket 8.6.1 :)

[2019-10-04 13:42] ffcsoftware commented on #682
You are right, I was asking just to keep coherence with version numbering. We actually use the same variable for both versions but we'll change it.

Thank you very much!

[2019-10-04 13:42] #682 closed

[2019-10-06 13:54] ams-tschoening commented on #676
Guten Tag Thorsten Schöning,
am Donnerstag, 3. Oktober 2019 um 10:44 schrieben Sie:

I made some additional tests and was easily able to trigger the
problem on Windows 7 and Windows 10 1809 using Maven 3.6.2 and Java
1.8.0_222.

I did some additional testing on UB 16.04 using Maven 3.3.9 and the
same Java and was able to trigger the problem there as well under the
following conditions: "forkedProc

[2019-10-06 20:02] martin-g commented on #676
Please try with latest `wicket-8.x`. I've reduced the amount of writes to stdout by logging only WARNs and ERRORs

[2019-10-07 07:50] ams-tschoening commented on #676
Logging less fixes the problem as well. The problem I see with this approach is that if someone really wants to debug the test because of some problems and logs more, things break again. Additionally raising the timeout seems to be an always working solution, so I suggest doing both with a reasonable high value of `500`.

Depending on where background threads are used during tests as well, it migh

[2019-10-07 08:08] martin-g commented on #676
So far you are the only one having problems with this test (in several years).
If you don't have time and desire to debug more why Windows is not happy with more log output I'd prefer to close the issue without adding more JVM/JUnit/Surefire options which may affect other modules.

[2019-10-07 09:36] ams-tschoening commented on #676
Like I seemed to be the only one using paths with spaces triggering a bug in your code, so that doesn't tell much.

You have noticed that I was able to trigger the exact same problem on UB 16.04 as well? I'm pretty sure to already have found the root cause of the problem, that's why I copied my mail:

You are using background threads somewhere not synced to test execution, so the tests itself fini

[2019-10-07 10:32] martin-g commented on #676
We are all volunteers here!
Please do not associate neither Wicketstuff projects nor Wicket itself with **me**. `You are using background threads ...` && `You need to assure that your background threads are properly finished...`. I, personally, have no background threads. WicketStuff Jamon module may have such threads but I **don't**. I do not use neither Jamon nor WicketStuff Jamon. Someone from

[2019-10-07 12:51] ams-tschoening commented on #676
I was using `you` simply because you used it as well and was referring to one of the gatekeepers of this project this way. Instead of feeling offended, you might want to look at how your own response read after I spent days debugging this problem.

But as said, it's not stable, it breaks instantly when I really need logging in the tests. If you insist to only reduce the log level, than you should

[2019-11-29 18:50] ams-tschoening opened #684 "Current snapshots of wicket-core break builds of wicketstuff-lazymodel."
Just tried to build Wicket Stuff and got the following exceptions for `wicketstuff-lazymodel` on Linux and Windows, with branches for version 8 and master as well:

    [ERROR] Failures:
    [ERROR]   FormComponentTest.nullTargetInTypeErasedModel:125
    [ERROR]   FormComponentTest.targetInTypeErasedModel:106 expected:<42> but was:<null>
    [ERROR]   FormComponentTest.targetInTypedModel:89 expect

[2019-11-29 21:59] svenmeier commented on #684
This test failure was caused by WICKET-6708, i.e. form inputs observe the submit method now.
I've fixed the test.

[2019-11-29 21:59] #684 closed

[2019-11-30 09:28] ams-tschoening commented on #684
Thanks for fixing, but still some questions:

1. Any idea of when a new snapshot will be publicly available?

I've set up my own currently and would like to clean things up as soon as possible.

2. Why is [WICKET-6708](https://issues.apache.org/jira/browse/WICKET-6708) not a breaking change?

Has the former implemented assumption to not care about `GET` vs. `POST` been wrong at all or only for `Fo

[2019-11-30 12:09] svenmeier commented on #684
Hi Thorsten,

it's still valid to use GET parameters in general. It's just that formComponents now follow how forms work in the browser: parameters are in the Url (GET) or in the body (POST), not both.

Please raise your concerns about backwards compatibility on WICKET-6708.

[2019-12-10 15:08] cdjost opened #685 "Select2 List of Lists"
Hi,

I am trying to create a select2 of a List<List<TYPE>>. Because the states that I am trying to represent contains multiple entries. The ChoiceProvider has the generic <List<TYPE>>. The getIdValue Method that I need to override expects a List<TYPE> as the parameter. But the parameter provided by the AbstractSelect2Choice class has just the type TYPE. To be it seems like the component is complet

[2019-12-10 15:53] svenmeier commented on #685
I can't check it at the moment, but I doubt that your list of list is unpacked by select2.

Quickstart or refence to your code here on GitHub?

[2019-12-10 18:05] cdjost commented on #685
The code is not hosted. I will give you a quick start.

This is the method that creates the select2:
`public static void addStatusSelect2(final String wicketId, IModel<List<ERequestState>> requestStateModel,
      final List<List<ERequestState>> possibleStates,
      final FilterForm filterForm) {
    Select2Choice<List<ERequestState>> statusSelect = new Select2Choice<>(wicketId, requestStateModel

[2019-12-10 19:40] svenmeier commented on #685
Sorry, from that code snippet I cannot identify the problem.

Please attach a proper https://wicket.apache.org/start/quickstart.html

[2019-12-11 12:19] cdjost commented on #685
Here is a quick demo: https://github.com/cdjost/select2Lists

[2019-12-11 13:18] svenmeier commented on #685
Thanks and sorry :(

You're right, AbstractSelect2Choice#onComponentTagBody() flattens your list:

https://github.com/wicketstuff/core/blob/b9ecbbd60f5c69b3cc1e97c9f4c1c402f2cb44ea/select2-parent/select2/src/main/java/org/wicketstuff/select2/AbstractSelect2Choice.java#L439

This code should only be triggered when using a Select2MultiChoice, where the selection is a list.
But your list-of-list trig

[2019-12-11 13:26] cdjost commented on #685
No worries :)
I have not really looked at the wicketstuff code base, but I would like to try and fix that. Is that ok?

[2019-12-11 14:06] solomax commented on #685
Sure PRs are always welcome :)

[2019-12-11 18:26] cdjost commented on #685
It seems like a small instanceof check was all thats needed. Manual testing seems to work. But I have a problem with the unit-test. I can not get the test for a value change (testSelect2ChoiceLOLsChangeValue) to run. I have no experience with the WicketTester. Would someone be willing to take a look at the test? https://github.com/cdjost/core

[2019-12-12 08:35] svenmeier commented on #685
You have to use POST parameters, otherwise the form component will not accept your input:

[code]

Instead of that instanceof I'd prefer that we separate that method in the respective subclasses:

AbstractSelect2Choice
[code]
Select2Choice
[code]

Select2MultiChoice
[code]

This removes some ugly casts and @SupressWarnings too.

[2019-12-12 20:22] cdjost commented on #685
You are right, that is much cleaner. Thank you! I created a pull request. On more question, in our project we use wicketstuff 8.6.0, will this be also available there?

[2019-12-13 09:25] #685 closed

[2019-12-13 09:27] svenmeier commented on #685
I've pushed the change to 8.x too. Thanks!

[2019-12-18 06:51] cdjost commented on #685
Hi, one last question: at what point will the change be published to the maven repos?

[2019-12-18 06:59] martin-g commented on #685
A new release of Wicketstuff Core is usually made after a release of Apache Wicket.
There was a discussion recently at dev@wicket.apache.org to cut new releases of 7.x, 8.x and 9.x.
I guess it will be soon.

[2019-12-23 12:21] mbcatubig14 opened #687 "@SpringBean, @Autowired and @Resource not working with AbstractRestResource"
@SpringBean, @Autowired and @Resource not working with AbstractRestResource.

[code]

Any suggestions.

[2019-12-23 14:57] svenmeier commented on #687
Dependency injection is supported for Components and Behaviors only, your resource has to do this by itself:

`InjectorHolder.getInjector().inject(this); `

[2019-12-23 14:57] #687 closed

[2019-12-23 15:20] bitstorm commented on #687
@mbcatubig14
Some kind of DI support  has been introduced with this commit:

https://github.com/wicketstuff/core/commit/01a3674e6d2f6d36b9ba11e354e0e02f4dfe96e7

so if you mount your AbstractRestResource with annotations you can use @SpringBean as usual. See class MountedResource.java in the commit above.

It should be available with version 8.6.0

[2019-12-23 16:08] svenmeier commented on #687
Cool, didn't know that +1

[2019-12-24 12:37] mbcatubig14 commented on #687
I tried updating the version from 8.4 to 8.6 in pom.xml and did the mvn clean install and it seems it didn't work as my service is still null. Any suggestions.

[2019-12-24 12:37] mbcatubig14 commented on #687
Tried. Didn't work.

[2019-12-24 13:21] solomax commented on #687
@mbcatubig14 you can do something like this:
https://github.com/apache/openmeetings/blob/master/openmeetings-web/src/main/java/org/apache/openmeetings/web/common/tree/OmTreeProvider.java#L66

[2019-12-24 14:03] mbcatubig14 commented on #687
I also injected in the constructor but still doesn't work.

[2019-12-24 14:17] bitstorm commented on #687
I've created a quickstart project to inject a value into a REST resource. Take a look here:

https://github.com/bitstorm/rest-injection

[2019-12-24 15:34] mbcatubig14 commented on #687
Thank you. I am implementing this with the wicket-spring-boot from MarcGiffing/wicket-spring-boot. I'm not sure why it's not working.

[2020-02-25 16:08] renoth opened #688 "[Select2] Settings should honor Select2 Defaults"
The Settings are not configured with the Select2 defaults, for example:

closeOnSelect is set to false, the default setting is true however:

![image](https://user-images.githubusercontent.com/4069007/75265547-5b606400-57f1-11ea-8729-d8fc1bb62c1b.png)

[2020-02-26 02:39] solomax commented on #688
Changing this default setting will silently affect many users
So I would vote against such change (regardless the fact it is trivial)

[2020-02-26 11:18] martin-g commented on #688
I agree with @solomax that this ship has sailed.
Maybe only for 9.0.0 ?! But again I am not sure it is worth the break.

[2020-02-26 14:15] renoth commented on #688
I understand, it was very confusing when trying to understand the behavior when compared to the default demo of wicketstuff. Maybe a little warning in the Javadoc could be helpful for other users to avoid hours of searching for the reason of specific behaviors.

[2020-02-26 14:20] reiern70 commented on #688
PRs are welcome.

[2020-03-13 13:13] bgoldowsky opened #690 "wicketstuff-tinymce dependency on commons-io needs updating"
wicketstuff-tinymce 7.16.0 has a dependency on commons-io version 2.1.
However wicket-util now requires commons-io version 2.5.
Including wicketstuff-tinymce in a maven project forces the older version of commons-io, causing problems like
org.apache.wicket.markup.html.form.upload.FileUpload#getBytes throwing a NoSuchMethodError.

[2020-03-13 13:20] martin-g commented on #690
Please send a Pull Request!

[2020-05-15 14:33] tjwde opened #691 "Openlayers3: if adding multiple FeatureChangeListeners for different Features only the last one added works."
Openlayers3: if adding multiple FeatureChangeListeners for different Features only the last one added works.

See openlayers3-parent/openlayers3/src/main/java/org/wicketstuff/openlayers3/behavior/FeatureChangeListener.js lines 67 and 82 for the cause of this issue.

[2020-05-15 14:40] tjwde commented on #691
The issue is solved by including "_${componentId}_${changeHandlerId}" in the method name of "restartTimeout"-method.

[2020-05-15 15:08] solomax commented on #691
Can the issue be closed?

[2020-05-15 18:39] martin-g commented on #691
On Fri, May 15, 2020, 17:40 tjwde <notifications@github.com> wrote:

Please send a Pull Request!
Thanks!

—

[2020-06-10 14:04] hellerEkc opened #693 "Drop down is showed up"
Hi, I have problem that dropown in select 2 component is showed up, and I dont know, how to force it to show it down. Thank you for help
![dropDownMenu](https://user-images.githubusercontent.com/430668/84277565-00e6db80-ab34-11ea-8aec-a011d1872456.png)

[2020-06-10 19:18] #693 closed, assigned to nobody

[2020-06-17 09:07] newgro opened #694 "[wicketstuff-dashboard] Thread-Safe Dashboard Initialization"
I have an issue with initializing a dashboard from a wicket-spring-boot WicketApplicationInitConfiguration. If i create a Widget for WidgetDescriptor.getWidgetClassName using the DefaultWidgetFactory the SpringBean used in that Widget are not injected proberly (is null).

I traced it down to line 28 in DefaultWidgetFactory
Class<Widget> widgetClass = (Class<Widget>) Class.forName(widgetClassName);

[2020-06-17 09:31] solomax commented on #694
I don't have such problems
You can easily create your own `WidgetFactory` and register it in `DashboardContext` ...

[2020-06-17 11:43] newgro commented on #694
Ok. I do that already. I only thought that this could be "fixed" in original code especially because the DefaultWidgetFactory is not extensible like protected loadClass(String widgetClassName).

But this way it is working and you could close the issue if no further action is planned.

[2020-06-17 11:51] solomax commented on #694
I'm using "standard" web application (Jetty/Tomcat based) and this issue is not reproducible for me :(
Maybe widgets are being inited too early at your application?

[2020-07-03 05:29] newgro commented on #694
I guess not. With using the CL of currentThread i get the appropriate beans injected.

[2020-07-03 06:53] solomax commented on #694
@martin-g can you take a look at this?

[2020-07-03 07:55] martin-g commented on #694
Maybe it should use `application.getApplicationSettings().getClassResolver().resolveClass(String)` ?

[2020-07-03 08:12] solomax commented on #694
Thanks @martin-g :)
This looks much better

@newgro can you check if this will work for you?

[2020-07-15 00:31] lopesfblopes opened #697 "[Rest Annotations] PackageScanner URI scheme is not "file""
Using PackageScanner.scanPackage("com.restservice");
deploying in wildfly I got the error:

	at java.io.File.<init>(File.java:421)
	at org.wicketstuff.rest.utils.mounting.PackageScanner.getClasses(PackageScanner.java:159)
	at org.wicketstuff.rest.utils.mounting.PackageScanner.scanPackage(PackageScanner.java:71)
	... 94 more

PackageScanner.java:159
`dirs.add(new File(resource.toURI()));`

"com.res

[2020-07-16 00:47] solomax commented on #694
@newgro I'll start the release process soon
Could you check if this `application.getApplicationSettings().getClassResolver().resolveClass(String)` code will work for you?

[2020-07-16 13:27] #694 closed

[2020-08-20 20:50] minarikv opened #699 "DatePicker: getFirstDayOfWeek is wrong by 1 day in wicket-datetime 9.0.0"
`DatePicker.getFirstDayOfWeek` in wicket-datetime 9.0.0 returns 1 for the English locale, 2 for the Czech locale. This results in incorrect display of days in calendar - week starts with **Monday** for the English locale, or with **Tuesday** for the Czech locale.

The method `DatePicker.getFirstDayOfWeek` was modified in version 9.0.0, now the result of
`Calendar.getInstance(locale).getFirstDayOfW

[2020-08-20 23:57] solomax commented on #699
Hello @minarikv,

it is not clear why `-1` should be subtracted?
Currently `DatePicker.getFirstDayOfWeek` is just a proxy for `Calendar.getFirstDayOfWeek` and it returns the number which can be compared with `Calendar.SUNDAY` `Calendar.MONDAY` ... etc. constants

[2020-12-14 18:40] ebremer opened #702 "Non functioning Datatables demo"
When I try this code out, no page is generated.

https://github.com/wicketstuff/core/blob/master/datatables-parent/datatables-examples/src/main/java/org/wicketstuff/datatables/demo/NewPage.java

this example works though:

https://github.com/wicketstuff/core/blob/master/datatables-parent/datatables-examples/src/main/java/org/wicketstuff/datatables/demo/HomePage.java

[2020-12-14 20:31] svenmeier commented on #702
I've fixed three errors (query-selectors version, csp and infinite loop in PeoplDataProvider) so the example works again.
There seem to be further smaller problems though and I don't know what these examples are supposed to show.

[2020-12-15 15:51] ebremer commented on #702
Thanks, I will re-test!

[2020-12-21 17:03] #699 closed

[2020-12-21 17:04] #690 closed

[2020-12-21 17:05] #688 closed

[2020-12-21 17:06] #625 closed

[2020-12-21 17:07] #565 closed

[2021-02-09 14:07] hectorfrancor opened #704 "QuickView - ParentScrollBar doesn´t works on Edge and Chrome"
Hi,

I noticed that the https://github.com/wicketstuff/core/blob/master/quickview-parent/quickview-examples/src/main/java/org/wicketstuff/examples/ParentScrollBar.java  does not works on Edge and Chrome Browsers.

I tested it on chrome/edge and I saw that the function isComponentScrollBarAtBottom on the https://github.com/wicketstuff/core/blob/master/quickview-parent/quickview/src/main/java/org/wi

[2021-02-09 14:13] #704 closed

[2021-02-09 14:13] martin-g commented on #704
The suggested change is applied!
Thank you, @hectorfrancor !

[2021-07-03 07:06] svenmeier opened #707 "GAE InSessionPageStore logs warning"
GAE uses an InSessionPageStore which doesn't support asynchronous storing of pages.
GAEInitialiizer should disable asynchronous storing of pages, to prevent warning in log:

    Delegated page store 'org.apache.wicket.pageStore.InSessionPageStore' can not be asynchronous

[2021-07-03 07:11] #707 closed

[2021-07-16 07:48] antonellyb opened #708 "WicketStuff Select2 control does not seem to work inside TabbedPanel element."
Hi,
WicketStuff Select2 control does not seem to work inside TabbedPanel element.
Pbobalbly it's because it incorrectly generates URL to query ChoiceProvider
For example the following:

http://localhost:8080/card?30-IResourceListener-parentForm-form-tabs-panel-project&q=d&wicket-ajax=true&wicket-ajax-baseurl=http%3A%2F%2Flocalhost%3A8080%2Fcard&_=1626420954332

The id of the Select2 control here i

[2021-07-16 07:56] martin-g commented on #708
Hi @antonellyb !
Thanks for reporting the issue!

Could you please provide a mini demo application that could be used for debugging and fixing the issue ?

[2021-07-16 08:46] antonellyb commented on #708
I'm working on this

[2021-07-29 13:47] antonellyb commented on #708
Hi @martin-g
The demo application is finally ready.
https://github.com/antonellyb/select2Bug

[2021-08-06 12:05] fanfy opened #709 "inmethod grid Wicket.Browser"
It seems that inmethod-grid 9.4.0 script-jq.js uses Wicket.Browser which doesn't exist anymore in wicket. The tree grid is also unusable.

[2021-08-06 20:42] svenmeier commented on #709
I've removed all browser dependent tweaks, since these browsers are no longer supported by Wicket.
Could you try out the current master branch?

[2021-08-09 06:51] fanfy commented on #709
Hi,

The inmethod-grid-examples seems to work (no more errors in browser console and the ui is functioning as expected). Tonight I'll test my project against 9.5.0-SNAPSHOT and come with a feedback. Thanks.

[2021-08-10 05:29] fanfy commented on #709
It's working

[2021-08-10 05:29] #709 closed

[2021-08-10 20:07] svenmeier commented on #709
Thanks for the report and testing.

[2021-08-31 05:11] solomax commented on #708
Hello @antonellyb,

so far I see multiple issues with this demo project:
1. (minor) wicket and wicketstuff are outdated
2. `DictionaryBase` is NOT `Serializable`
3. `ComponentNotFoundException: Component 'tabs:panel:choiceNotWorking' has been removed from page.` in the logs

I would say you are doing something unexpected ...

[2021-09-13 19:03] reckart opened #711 "wicketstuff-input-events - accumulating event listeners on AJAX components"
When adding an `InputBehavior` to a component which is updated via AJAX, it can happen that the event listener registered by the `InputBehavior` is registered over and over again during AJAX updates. This is a resource leak and also can lead to input events being triggered way too often.

I believe a reasonable fix for this behavior would be to update the JS which registers the listener to remove

[2021-09-14 06:31] martin-g commented on #711
Pull Requests are welcome!

[2021-10-06 11:37] stefv opened #712 "[annotation] Add a scanPackages method"
Hello,

I would like to create an expandable framework with default pages and the possibility to add pages. The problem is these pages are not in the same package, and AnnotatedMountScanner is only accepting one package or base package when it would be fine to add multiple packages.

I think it would be fine to add a scanPackages method including all the given packages with the possibility to over

[2021-10-06 11:56] martin-g commented on #712
I think this would be a good improvement! Do you want to send us a Pull Request ?

[2021-11-24 00:54] i-make-robots commented on #676
Hi!  I'm getting a maven surefire timeout bug in another project and this issue is as close as I could find to related issue.  (Thanks, google.)  Anyone know why this is happening or what can be done about it?

I have isolated it down to a call to java.util.prefs.Preferences.get() which seems to hang indefinitely.  Oddly the surefire runs fine on my local windows box.  It's only in the Github Acti

[2021-11-24 02:43] solomax commented on #676
I'm building this project on regular basis and have no issues with tests
Maybe you should examine your tests
And mark long-running-stress-tests ar being excluded from CI build?

[2021-11-24 06:30] martin-g commented on #676
Closing this issue since no one else ever reproduced the reported problem since 2019.
@i-make-robots 's issue could be discussed further at https://github.com/MarginallyClever/Makelangelo-software/issues/363.

[2021-11-24 06:30] #676 closed

[2022-09-01 16:14] rkurucz9 opened #730 "[wicketstuff-input-events] 'disable_in_input' would handle the contenteditable="true" attribute"
Hi,

In my opinion, the handling of contenteditable="true" attribute could be a good improvement in case of 'disable_in_input'.

Best Regards,
Roland

[2022-09-02 03:53] solomax commented on #730
could you please provide more details on what is wrong?

[2022-09-02 06:49] rkurucz9 commented on #730
Hi solomax,

Thank you for your question.

As I understand, the goal of the 'disable_in_input' property is responsible for ignoring/accepting the shortcut key pressing in the input fields (input and textarea html tags).
For example, if I write some text in a div, that has a contenteditable="true" attribute, the shortcut key pressing can not be ignored.

Best Regards,
Roland

[2022-09-19 04:30] solomax commented on #730
Hello @rkurucz9,
sorry for the late response

you are right div with `contenteditable=true` will act as text input
can you create PR? :)

[2022-09-19 09:31] #730 closed

[2022-10-26 10:31] bitstorm opened #735 "Hazelcast maps are never destroied"
I've noted that with HazelcastDataStore we never invoke IMap.destroy on the maps we create to store pages. Maybe we should invocke destroy() instead clear() at this line inside method removeAllPersistedPages.

https://github.com/wicketstuff/core/blob/736c12b5d1aafd1c8b012e1cdbe99a99c54a5a06/datastores-parent/datastore-hazelcast/src/main/java/org/wicketstuff/datastores/hazelcast/HazelcastDataStore.

[2022-11-11 04:08] solomax commented on #735
Hello @bitstorm, sorry for the late response

as I understand `map.clear()` is the correct method
it will remove everything from the map

`destroy()` can be called in
https://github.com/wicketstuff/core/blob/736c12b5d1aafd1c8b012e1cdbe99a99c54a5a06/datastores-parent/datastore-hazelcast/src/main/java/org/wicketstuff/datastores/hazelcast/HazelcastDataStore.java#L138

but, I believe `hazelcast.shutdo

[2022-11-13 16:32] #735 closed, assigned to nobody

[2022-11-16 08:42] stefv opened #736 "[Request][annotation] Add a weight to the annotation to be able to override them"
Hi,
I think it could be usefull to add a weight to the MountPath annotation to be able to override a default page by another. For exemple, a default page for the error page (from a framework) with the lowest weight could be very simple. And a final website will override it with the same path but with a highter weight.

[2022-11-17 12:41] martin-g commented on #736
Would you like to send a Pull Request ?

[2022-11-20 06:43] stefv commented on #736
I'm checking again if wicketstuff is the best place to update first. I thought it would be easy to do, but without changes inside Wicket, I think it will not be clean.

I need to change minimum MountedMapper, WebApplication,  maybe HomePageMapper... I think it's impossible to upgrade classes like that for a feature like I need because the needed is too limited.

[2022-11-20 06:43] #736 closed